@font-face {
  font-family: 'dancing_script_otregular';
  src: url('dancingscript-regular-webfont.woff2') format('woff2'),
    url('dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#contact-header {
  padding: 300px 0;
  background-color: black;
  position: relative;
}
#contact-header h1 {
  position: relative;
  font-family: 'dancing_script_otregular' !important;
}

#contact-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/contact-header.jpg');
  background-size: 100% 100%;
  opacity: 0.4;
}

#contact {
  height: 800px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact form {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 612px) {
  #contact-header h1 {
    font-size: 60px;
  }
}
