@font-face {
  font-family: 'dancing_script_otregular';
  src: url('dancingscript-regular-webfont.woff2') format('woff2'),
    url('dancingscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

nav li a {
  color: black !important;
}
#feature {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}

#feature::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('images/feature.jpg');
  opacity: 0.3;
  background-size: 100% 100%;
}

#feature h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-style: bolder;
  font-family: 'dancing_script_otregular';
  color: white !important;
  display: block;
}
#feature button {
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 65%;
  background-color: rgb(233, 173, 62);
  color: white;
}

.navbar {
  background-color: transparent !important;
}

#value-props {
  display: flex;
  padding: 500px 0;
}

.prop {
  height: 300px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 5px;
  color: black;
  box-shadow: 5px 5px black solid;
  width: 33%;
}

.prop p {
  font-size: 18px;
}

.prop i {
  font-size: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#carousel-section {
  padding: 100px 0;
}

#carousel-section .row {
  padding: 0;
  margin: 0;
}

.carousel-item {
  text-align: center !important;
}

.carousel-item .col-md-4 {
  margin: 0 !important;
  padding: 0 !important;
}

#carousel-section-header {
  background-color: rgb(233, 173, 62);
  font-family: 'Apple Chancery';
}

.col-md-4,
.col-md-5,
.col-md-6 {
  margin-right: 0 !important;
}

.row {
  margin-right: 0px !important;
}

#about-us {
  padding: 300px 0;
}

#about-us h1 {
  font-family: 'Apple Chancery';
}

#specialty-header {
  padding: 250px 0;
  background-color: rgb(233, 173, 62);
  font-family: 'Apple Chancery';
}
#specialty-header p {
  font-size: 18px;
}

#specialty {
  padding: 300px 0;
}

#specialty h1 {
  font-family: 'Apple Chancery';
}

#specialty img {
  border-radius: 5px;
}

#cake-photos {
  padding: 250px 0;
  background-color: rgb(233, 173, 62);
}

footer {
  background-color: rgb(233, 173, 62);
  font-size: 18px;
  padding: 50px 0;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 650px) {
  #feature h1 {
    top: 40%;
    font-family: 'Apple Chancery' !important;
  }

  #feature button {
    top: 65%;
  }
  #value-props {
    flex-direction: column;
  }
  #feature h1 {
    font-size: 45px;
  }

  #feature button {
    font-size: 15px;
    left: 30%;
  }

  .prop {
    margin-top: 250px;
    width: 100%;
  }
}
